<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @movie.title %>
</p>

<p>
  <strong>Titleid:</strong>
  <%= @movie.titleid %>
</p>

<table border="1">
  <% @theaters.each do |theater| %>
    <tr>
    <th>Movie Time</th>
    <th>Day</th>
    <th>Theater Name</th>
  </tr>
  <tr>
    <td><%= theater.time %></td>
    <td><%= theater.day %></td>
    <td><%= theater.theater_name %></td>
  </tr>
  <%end%>
</table>

<%= link_to 'Edit', edit_movie_path(@movie) %> |
<%= link_to 'Back', movies_path %>
