<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @theater.title_id %>
</p>

<p>
  <strong>Time:</strong>
  <%= @theater.time %>
</p>

<p>
  <strong>Day:</strong>
  <%= @theater.day %>
</p>

<p>
  <strong>Theater name:</strong>
  <%= @theater.theater_name %>
</p>

<%= link_to 'Edit', edit_theater_path(@theater) %> |
<%= link_to 'Back', theaters_path %>
